#airline-items{
    margin-top: 30px;
}
.airline-item{
    width:800px;
}
.airline-items-wapper{
    width:  1000px;
    height: 40px;

}
[class*=airline-item-]{
    float: left;
    width: 110px;
    height:20px;
    margin-top: 15px;
    text-align: center;
}
#airline-item-description{
    border: 1px solid black;
    height: 20px;
    width: 700px;
    background-color: lightblue;
}
#airline-item-description *{
    margin-top: 0px;
}
.airline-item-dao{
    width: 20px;
}
[class*=airline-item-button-]{
    width: 80px;
}
.airline-ticket-items-wapper{
    margin-left: 50px;
    width: 700px;
    border-bottom:1px black solid;
    border-left:1px black solid;
    border-right: 1px black solid;;
}

.ticket-items{
    height:150px;
    width :600px;
    margin-left: 50px;
    overflow: scroll;
    font-size: small;
}
.ticket-item-description{
    width: 600px;
    height: 50px;
    float: none;
}
.ticket-item{
    width: 600px;
    height: 50px;
}

.create-ticket-block{
    width: 600px;
    height: 50px;

}
.search-block{
    float: left;
    margin-left: 20px;
}
.create-block{
    float: left;
    height: 100px;
    width: 300px;
    margin-left: 50px;
}
#total-div{

    height: 200px;
}
.create-ticket-block{
    margin-left: 100px;
    height: 30px;
    margin-top: 20px;
}
