#bar{
    background-color: lightblue;
    height: 50px;
}
.baroptionwapper{
    display: inline-block;
    text-align: center;
    position: relative;
}
.baroption{
    width: 200px;
    height: 50px;
    display: table-cell;
    vertical-align:middle;
}
.lan{
    left: 25%;
    position: absolute;
}
.lanoption{
    height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightblue;
    border-top-width: 1px;
    border-top-color: darkblue;
    border-top-style: solid;

}
.center-text{
    margin-top: 65px;
    line-height: 50px;
}
